
@import './element-variables.scss';

body {
    margin:0;
}

.el-menu-item {
    &:focus, &:hover, &.is-active {
        color:$menu_background;
        background-color: $--color-primary;
        border-color: $--color-primary;
    }
}
.el-button {
    &--default {
        &:focus, &:hover, &.is-active {
            color:$menu_background;
            background-color: $--color-primary;
            border-color: $--color-primary;
        }
    }
}